body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
    }
    header {
      display: flex;
      align-items: center;
      background: #00695c;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    
    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-left: auto;
    }

    .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    
    }

    .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    }

  
    .menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    }

   
    @media (max-width: 768px) {
    .menu-toggle {
        display: block; 
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #00695c;
        width: 200px;
        padding: 20px;
    }

    .nav-links.active {
        display: flex; 
    }
    }


    .banner {
        height: 227px;
        background-image: url("img/banneraquaviva.webp");
        background-size: cover;
        background-position: center;
    }
    section {
      padding: 40px 20px;
      max-width: 1000px;
      margin: auto;
    }
    .btn {
      display: inline-block;
      background: #00695c;
      color: #fff;
      padding: 12px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }
    .btn:hover {
      background: #00695c
    }
    footer {
      background: #00695c;
      color: #fff;
      text-align: center;
      padding: 20px;
    }

  

.video {
  display: flex;
  justify-content: center;
  margin-top: 10px;;
}